@media (max-width : 768px){
    /* header section  */
    .header-1 .head-icons{
        width:4rem;
        position: fixed;
        right: 20px;
        top: 50%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #051127;
        padding: 1rem .5rem;
        border-radius: 50px;
    }
    .header-1 .head-icons i{
        width: 100%;
        padding: .7rem;
        font-size: 1.5rem;

    }
    .header-1 .head-icons i:hover{
        color: #EFF4F8;
        border: .1rem solid #EFF4F8;
    }
    .header-1 .head-icons i:nth-child(2){
        margin: 1rem 0;
    }


    #menu-bar{
        display: block;
        font-size: 2rem;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        color: #051127;
    }
    .header-2{
        box-shadow: none;
        padding: 0;
    }
    .header-2 .navbar{
        position: absolute;
        top: 10%; left: 0; right: 0;
        background-color: #EFF4F8;
        padding: 1rem 0;
        display: none;
       }
       .header-2 .navbar.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
       }
       .header-2 .navbar a{
        width: 50%;
        font-size: 1.5rem;
        display: block;
        text-align: center;
        background-color: #051127;
        color: #EFF4F8;
        padding: 1rem;
        margin: 1rem 0;
       }
       /* header section  */
       /* head banner section  */
       .head-banner{
        background: url(../img/banner-mobile.jpg) , #E9DFFF;
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        height: 60vh;
        align-items: center;
        justify-content: end;
        padding: 0;
       }
       .banner-detail{
        width: 100%;
        text-align: center;
        background: linear-gradient(transparent , #051127);
        padding: 4rem 0;
       }
       .head-title{
        font-size: 3rem;
        color: #EFF4F8;
       }
       .head-info{
        font-size: 1.5rem;
        color: #959BBD;
        font-weight: bold;
       }
       /* head banner section  */

       /* category section  */
       .category h1{
        font-size: 2.5rem;
       }
        .card-box{
        flex-direction: column;
        align-items: center;
       }
        .card-box .box{
        width: 80%;
        margin-bottom: 5rem;
       }
       /* category section  */

       /* product section  */
       .product h1{
        font-size: 2.5rem;
       }
       .product .card-box .box .box-details .icons i{
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
       }
       .product .card-box .box .box-details .price h3{
        font-size: 1rem;
       }
       /* product section  */

        /* discount section  */
     .discount{
        background-position: left;
        padding: 2rem;
       }
    
       .discount .content{
        max-width: 100%;
        text-align: right ;
        
       }
       .discount .content .title{
        color: #051127;
        font-size: 2rem;
       }
       .discount .content p{
        font-size: 1.2rem;
        color: #051127;
       }
       .discount .content .count-down{
        justify-content: end;
       }
       .discount .content .count-down .box h3{
        height: 4rem;
        line-height: 4rem;
        font-size: 2rem;
       }
       .discount .content .count-down .box span{
        font-size: 1.5rem;
       }
       .discount .content .btn{
        font-size: 1rem;
        padding: 1rem 4rem;
       }
       /* discount section  */   
       /* contact section  */

.contact form .input-box{
    flex-direction: column;
    justify-content: center; 
}

.contact form .input-box input , .contact form textarea{
    width: 100%;
}

.contact form textarea{
    height: 20rem;
    resize: none;
    width: 100%;
}

/* end of contact section  */

/* footer section  */

.footer{
    text-align: center;
}
.footer .box-container .box-logo{
    order: -1;
}

/* footer section  */
}

@media (min-width: 426px){
    .product .card-box .box .box-details .icons i{
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
       }


    .product .card-box .box .box-details .price h3{
        font-size: 2rem;
       }

       
     
}