.s-product{
    background: linear-gradient( 90deg,rgb(149,155,189) , rgb(33,50,62));
}

.s-product .container{
    display: flex;
}

.s-product .container .img-sec{
    display: flex;
    justify-content: center;
    width: 50%;
    order: 2;
}

.s-product .container .img-sec img{
    width: 30rem;
    height: fit-content;
    margin-right: 1rem;
    border-radius: 10px;
}

.s-product .container .small-img-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s-product .container .small-img-group .small-img-col .small-img{
    width: 7rem;
    border-radius: 10px;
    height: fit-content;
    cursor: pointer;
}

.s-product .container .detail-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.s-product .container .detail-sec .detail-container{
    width: 80%;
    background-color: #EFF4F8;
    padding: 2rem;
    border-radius: 10px;
    text-align: right;
    height: 100%;
}
.s-product .container .detail-sec .detail-container h1{
    color: #354f62;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.s-product .container .detail-sec .detail-container p{
    font-size: 1.4rem;
    margin-bottom: 3rem;
    color: #354f62;
}
.s-product .container .detail-sec .detail-container .col-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    align-items: flex-end;
}
.s-product .container .detail-sec .detail-container .col-1 div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s-product .container .detail-sec .detail-container .col-1 div h2{
    order: 2;
    color: #959BBD;
}
.s-product .container .detail-sec .detail-container .col-1 div h3{
    color: #21323E;
    font-size: 1.5rem;
}
.s-product .container .detail-sec .detail-container .col-1 input{
    padding:.4rem 1rem;
    color: #21323E;
    background-color: #959BBD;
    border-radius: 10px;
    cursor: pointer;
}

.s-product .container .detail-sec .detail-container .col-1 div:nth-child(2){
    margin: 1rem 0;
}


.s-product .container .detail-sec .detail-container .col-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.s-product .container .detail-sec .detail-container .col-2 .price-sec{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 50%;
    order: 2;
}
.s-product .container .detail-sec .detail-container .col-2 .price-sec .titles{
    order: 2;
    color: #354f62;
    font-size: 1.2rem;
    margin-left: 2rem;
}

.s-product .container .detail-sec .detail-container .col-2 .price-sec .infos{
    color: #354f62;
    text-align: center;
    font-size: 1.2rem;
}


.s-product .container .detail-sec .detail-container .col-2 .buy-btn{
    display: flex;
    align-items: flex-end;
}
.s-product .container .detail-sec .detail-container .col-2 .buy-btn button{
    background-color: #959BBD;
    padding: .5rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    color: #21323E;
    font-size: 1.3rem;
    font-weight: bold;
    
}
.s-product .container .detail-sec .detail-container .col-2 .buy-btn button:hover{
    background-color: #21323E;
    color: #959BBD;
}


@media (max-width:768px){

    .s-product .container{
        flex-direction: column;
    }
    .s-product .container .img-sec{
        width: 100%;
        order: 0;
        margin-bottom: 2rem;
        flex-direction: column;
        align-items: center;
    }
    .s-product .container .img-sec img{
       width: 32rem;
       margin:1rem 0;
    }
    .s-product .container .img-sec .small-img-group{
        flex-direction: row;
        width: 50%;
    }
    .s-product .container .detail-sec{
        width: 100%;
    }
}

@media (max-width:425px){

    .s-product{
        padding: 2rem 0;
    }
   
    .s-product .container .img-sec img{
        width: 20rem;
        border-radius: 10px;
    }
    .s-product .container .img-sec .small-img-group{
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
    }
    .s-product .container .small-img-group .small-img-col .small-img{
        width: 5rem;
        border-radius: 10px;
    }
    .s-product .container .detail-sec{
        width: 100%;
        text-align: center;
    }
    .s-product .container .detail-sec .detail-container .col-1 div{
        flex-direction: column;
    }
    .s-product .container .detail-sec .detail-container .col-1 div h2{
        order: 0;
        margin-bottom: 1rem;
    }
    .s-product .container .detail-sec .detail-container .col-2 {
        flex-direction: column;
        align-items: center;
    }
    .s-product .container .detail-sec .detail-container .col-2 .price-sec{
        flex-direction: column;
        align-items: center;
        order: 0;
        margin-bottom: 1rem;
    }
    .s-product .container .detail-sec .detail-container .col-2 .price-sec .titles{
        margin: 0;
        order: 0;
    }
}