*{
    font-family: Vazir;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 2.5rem;
}

/* scrollbar style  */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #051127; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #959BBD; 
  }
/* scrollbar style  */

/* header section  */

.header-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF4F8;
    padding: .5rem 1rem;
}
.header-1 .logo img{
    width: 15%;
    border-radius: 50px;
}
.header-1 .head-icons{
    display: flex;
}
.header-1 .head-icons i{
    font-size: 1.7rem;
    color: #959BBD;
    border: .1rem solid #959BBD;
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 6px #21323e97;
}
.header-1 .head-icons i:hover{
    color: #21323E;
    border: .1rem solid #21323E;
}
.header-1 .head-icons i:nth-child(2){
    margin: 0 1rem;
}

.header-2{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 6px 0px #21323e42;
    padding: 1rem 0;
    background-color: #959BBD;
}
.header-2.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
.header-2 .navbar a{
    font-size: 1.7rem;
    color: #465375;
    margin: 0 2rem;
    padding: .5rem 1.5rem;
    border-radius: 50px;
}
.header-2 .navbar a:hover{
    background-color: #21323E;
    color: #EFF4F8;
}
#menu-bar{
    display: none;
}
/* end of header section  */

/* head banner section  */
.head-banner{
    height: 50vh;
    padding: 0 10rem ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.head-title {
    font-size: 4rem;
    color: #21323E;
}
.head-info{
    font-size: 2rem;
    color: #21323E;
    margin-top: 3rem;
}
/* end of head banner section  */

/* category section  */
.category{
    background: #EFF4F8;
    text-align: center;
}
.category h1{
    font-size: 4rem;
    color: #21323E;
    margin: 5rem 0;
}
.category h1 span{
    color: #959BBD;
}
.card-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-box .box {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 6px #21323E;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
}
.card-box .box:hover{
    transform: translateY(-10px);
}
.card-box .box h3{
    font-size: 2rem;
    color: #465375;
}
.card-box .box img{
    width: 70%;
    margin: 2rem 0;
    border-radius: 10px;
}
.card-box .box .btn{
    background-color: #959BBD;
    color: #21323E;
    border-radius: 30px;
    padding: .5rem 1rem;
    box-shadow: 0 2px 3px #21323E;
    cursor: pointer;
    font-size: 1.5rem;
}
.card-box .box .btn:hover{
    background-color: #21323E;
    color: #EFF4F8;
    box-shadow: none;
}

/* end of category section  */

/* product section  */
.product{
    width: 100%;
    background-image: linear-gradient(rgb(192,211,228), rgb(96,106,114));
    text-align: center;
}

.product h1{
    font-size: 4rem;
    color: #21323E;
    margin: 5rem 0;
}
.product h1 span{
    color: #465375;
}
.product .card-box{
    flex-wrap: wrap;
}
.product .card-box img{
    margin: 1rem 0;
    width: 80%;
}
.product .card-box .box{
    margin-bottom: 3rem;
}
.product .card-box .box .box-details{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0 2rem 0;
}
.product .card-box .box .box-details .icons i{
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    box-shadow: inset 0 0 5px 0 #0000005b;
    color: #465375;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.product .card-box .box .box-details .icons i:nth-child(2){
    margin: 0 .5rem;
}
.product .card-box .box .btn{
    font-weight: bold;
}
/* end of product section  */
/* discount section  */
.discount{
    width: 100%;
    background: url(../img/deal-banner.jpg);
    background-position: center;
    background-size: cover;
    padding: 2rem 7rem ;
    display: flex;
    justify-content: end;
    text-align: right;
}
.discount .content{
    max-width: 50rem;
}
.discount .content .title{
    font-size: 4rem;
    color: #EFF4F8;
}
.discount .content p {
    font-size: 1.7rem;
    padding: 1rem 0;
    color: #EFF4F8;
}
.discount .content .count-down{
    display: flex;
    gap: 1rem;
    padding: .5rem 0;
    justify-content: end;
    margin-bottom: 1.5rem;
}
.discount .content .count-down .box{
    width: 9rem;
    text-align: center;
}
.discount .content .count-down .box h3{
    color: #465375;
    background: #C0D3E4;
    height: 7rem;
    line-height: 7rem;
    width: 100%;
    font-size: 4rem;
    border-top-left-radius: 20px; border-top-right-radius: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.49);
}
.discount .content .count-down .box span{
    background: #465375;
    color: #C0D3E4;
    font-size: 2rem;
    padding: .5rem 0;
    display: block;
    border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.49);
}
.discount .content .btn{
    background-color: #465375;
    color: #C0D3E4;
    border-radius: 30px;
    padding: 1rem 5rem;
    margin-top: 1rem;
    box-shadow: 0 2px 3px #21323E;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}
.discount .content .btn:hover{
    background-color: #21323E;
    color: #EFF4F8;
}
/* discount section  */